@import url("./index.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Open Sans";
  max-width: 1600px;
  color: black;
  margin: 0 auto;
}

.navItems a {
  color: black;
}

.navItems a:hover {
  color: Rebeccapurple;
  cursor: pointer;
}

.main {
  position: relative;
  padding: 40px 0;
}
.title {
  margin: 0 auto 30px auto;
  text-align: center;
}

.aboutInfo {
  padding: 20px 250px;
  display: flex;
  justify-content: center;
}

.aboutInfo .left {
  /* padding: 0 50px; */
  border-right: 2px solid rgba(178, 174, 174, 1);
  flex: 1;
}

.aboutInfo .right {
  /* padding: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.aboutText {
  box-shadow: 5px 5px 5px 1px gray;
  width: 60%;
  padding: 20px;
  background: white;
  border-radius: 20px;
  color: #747474;
}

.aboutImage {
  width: 350px;
  border: 10px solid #3f3d56;
  border-radius: 20px;
  /* height: 400px; */
  /* transform: rotate(-5deg); */
  /* border: 1px solid gray; */
  /* padding: 20px; */
  /* border-radius: 50%; */
}

.ourTeam {
  background: #3f3d56;
  color: white;
  text-align: center;
}

ourTeam h1 {
  margin: 20px;
}

.teamBox {
  margin: 40px auto;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.teamMember img {
  width: 200px;
}

.cta {
  align-content: center;
  text-align: center;
}

.cta a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.ctaBtn {
  padding: 20px 30px;
}

.contact {
  width: 40%;
  margin: 0 auto;
}

.contact h1 {
  margin: 20px auto;
}
