@import url("./index.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  max-width: 1600px;
  color: black;
  margin: 0 auto;
}

.navItems a {
  color: black;
}

.navItems a:hover {
  color: Rebeccapurple;
  cursor: pointer;
}

.main {
  position: relative;
  padding: 40px 0;
}
.title {
  margin: 0 auto 30px auto;
  text-align: center;
}

.aboutInfo {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutInfo .left {
  /* padding: 0 50px; */
  /* border-right: 2px solid rgba(178, 174, 174, 1); */
  display: flex;
  justify-content: center;
  margin: auto;
}

.aboutInfo .right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.aboutText {
  /* box-shadow: 5px 5px 5px 1px gray; */
  width: 60%;
  /* padding: 20px; */
  background: white;
  border-radius: 20px;
  color: #747474;
}

.aboutImage {
  width: 250px;
  /* border: 10px solid #3f3d56; */
  border-radius: 20px;
  clip-path: circle(50% at 50% 50%);
  /* height: 400px; */
  /* transform: rotate(-5deg); */
  /* border: 1px solid gray; */
  /* padding: 20px; */
  /* border-radius: 50%; */
}

.ourTeam {
  background: #3f3d56;
  /* background: #24C18D; */
  color: white;
  text-align: center;
  padding: 20px 0;
}

ourTeam h1 {
  margin: 20px;
}

.teamBox {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.teamMember img {
  width: 200px;
}

.cta {
  align-content: center;
  text-align: center;
  margin: 20px 0;
}

.cta a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.ctaBtn {
  padding: 20px 30px;
}

.contact {
  width: 40%;
  margin: 0 auto;
}

.contact h1 {
  margin: 20px auto;
}

@media (max-width: 600px) {
  .aboutInfo {
    padding: 20px 20px;
  }
  .aboutInfo .left {
    /* padding: 0 50px; */
    border-right: none;
    margin: auto;
    flex: 1;
  }

  .aboutInfo .right {
    flex: 2;
  }

  .aboutText {
    width: 100%;
    margin: 20px;
  }

  .aboutImage {
    width: 150px;
  }

  .teamBox {
    flex-direction: column;
  }

  .teamMember {
    margin: 20px auto;
  }
}

@media (min-width: 1300px) {
  .aboutInfo {
    flex-direction: row;
    padding: 20px 250px;
  }

  .aboutInfo left img {
    margin: auto;
  }

  .aboutInfo right {
    flex: 2;
  }

  .teamBox {
    gap: 100px;
  }
}
