@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
}

body {
  font-family: "Open Sans";
  max-width: 1600px;
  color: black;
  margin: 0 auto;
}

nav.navBar {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  margin: 0 0 50px 0;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.navItems {
  padding: 20px 40px;
}

.navItems a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navItems a:hover {
  color: Rebeccapurple;
  cursor: pointer;
}

.page {
  height: 100vh;
}

.main {
  position: relative;
  padding: 40px 0;
}
.title {
  margin: 0 auto 30px auto;
  text-align: center;
}

.aboutInfo {
  padding: 20px 250px;
  display: flex;
  justify-content: center;
}

.aboutInfo .left {
  /* padding: 0 50px; */
  border-right: 2px solid rgba(178, 174, 174, 1);
  flex: 1;
}

.aboutInfo .right {
  /* padding: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.aboutText {
  box-shadow: 5px 5px 5px 1px gray;
  width: 60%;
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.aboutImage {
  width: 350px;
  /* height: 400px; */
  /* transform: rotate(-5deg); */
  /* border: 1px solid gray; */
  /* padding: 20px; */
  /* border-radius: 50%; */
}

svg#waveBG {
  /* display: inline-block; */
  position: absolute;
  bottom: 0;
  left: 0;
}

.ourTeam {
  background: #3f3d56;
  color: white;
  text-align: center;
}

ourTeam h1 {
  margin: 20px;
}

.teamBox {
  margin: 40px auto;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.teamMember img {
  width: 200px;
}

.cta {
  align-content: center;
  text-align: center;
}

.cta a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.ctaBtn {
  padding: 20px 30px;
}

.contact {
  width: 40%;
  margin: 0 auto;
}

.contact h1 {
  margin: 20px auto;
}

.formGroup {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.formGroup input {
  padding: 10px 30px 10px 5px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
}

.formGroup #message {
  padding: 20px 20px 20px 10px;
  border-radius: 10px;
}

.formBtn {
  padding: 10px 30px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #3f3d56;
  color: white;
  cursor: pointer;
}
