@import url("./index.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#contactBody {
  font-family: "Open Sans";
  max-width: 1600px;
  color: black;
  margin: 0 auto;
}

.main {
  position: relative;
  padding: 40px 0;
}

.navItems a {
  color: black;
}

.navItems a:hover {
  color: Rebeccapurple;
  cursor: pointer;
}

.errorText {
  color: red;
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  margin: 0;
  padding-left: 20px;
}

.errorText:empty {
  display: none;
}
.contact {
  width: 40%;
  margin: 0 auto;
}

.contact h1 {
  margin: 20px auto;
}

.formGroup {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.formGroup input {
  padding: 10px 30px 10px 5px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
}

.formGroup #message {
  padding: 10px 30px 10px 5px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: inherit;
}

.formBtn {
  padding: 10px 30px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #3f3d56;
  color: white;
  cursor: pointer;
}

@media (max-width: 600px) {
  .contact {
    width: 80%;
  }

  .contact h1 {
    text-align: center;
  }
}
