@import url("./index.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Open Sans";
  max-width: 1600px;
  color: black;
  margin: 0 auto;
}
.navBar a {
  /* color: black; */
  /* padding: 40px 0; */
}

.navBar {
  /* padding: 20px 0; */
}

.container {
  height: 100vh;
  background: url("../assets/img/destinationImage/destination1BG.jpg") center
    center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.container .overlay {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);
}

.content {
  position: relative;
  z-index: 1;
}

.desc {
  color: #fffaf6;
}

.title {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
}

.content {
  padding: 1rem 0 1rem 10rem;
  height: 80%;
  display: flex;
  align-items: center;
}

.details {
  margin: 1rem 0;
  font-size: 1.4rem;
  display: flex;
  color: white;
  justify-content: space-between;
}
.details svg {
  height: 30px;
  color: white;
}

.details span {
  display: flex;
  align-items: center;
}

.carousel {
  margin: 0 0 0 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 2rem;
}

.imagesList {
  display: flex;
  gap: 20px;
}

.carousel .controls {
  margin: 10px 0;
}

#imagePrev,
#imageNxt {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

img.carouselItem {
  height: 20rem;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .content {
    padding: 1rem;
    flex-direction: column;
  }

  .carousel {
    /* margin: 1rem 0rem; */
  }
}

@media (min-width: 1300px) {
  .carousel {
    transform: translateX(10%);
  }
}
