@font-face {
  font-family: "Amoresa";
  src: url("../assets/fonts/Amoresa.ttf") format("truetype"),
    url("../assets/fonts/amoresa-webfont.woff") format("woff"),
    url ("../assets/fonts/amoresa-webfont.woff2") woff("woff2");
}

@font-face {
  font-family: "Perandory";
  src: url("../assets/fonts/Perandory-Semi-Condensed.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: white; */
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: hidden;
}

.page {
  min-height: 100vh;
}

nav.navBar {
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 1.2rem;
  /* outline: 1px solid #f00 !important; */ // debugging purpose only
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  gap: 40px;
}

.navItems {
  padding: 20px 0;
  /* outline: 1px solid #f00 !important; */ // debugging purpose only
}

.navItems a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navItems a:hover {
  color: Rebeccapurple;
  cursor: pointer;
}

svg#waveBG {
  /* display: inline-block; */
  position: absolute;

  bottom: 0;
  left: 0;
}
