@font-face {
  font-family: "Amoresa";
  src: url("../assets/fonts/Amoresa.ttf") format("truetype"),
    url("../assets/fonts/amoresa-webfont.woff") format("woff"),
    url ("../assets/fonts/amoresa-webfont.woff2") woff("woff2");
}

@font-face {
  font-family: "Perandory";
  src: url("../assets/fonts/Perandory-Semi-Condensed.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4a261;
  font-family: "Inter";
  max-width: 1600px;
  margin: 0 auto;
}

.page {
  height: 100vh;
}

.main {
  background: url("../assets/img/background1.jpg") no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* .logo {
  font-size: 10rem;
  color: #043066;
  font-family: "Perandory";
  position: relative;
  height: 50vh;
  width: 50%;
}

.top,
.bottom {
  position: absolute;
}

.top {
  top: 0;
  left: 0;
}

.bottom {
  bottom: -10%;
  right: 1%;
} */

.logo {
  font-size: 10rem;
  color: #043066;
  font-family: "Perandory";
  display: flex;
  flex-direction: column;
  width: 50%;
}

.logo .top {
}

.logo .bottom {
  direction: rtl;
  margin-top: -180px;
  margin-right: 100px;
}

.logo span .amoresa {
  font-family: "Amoresa";
}

/*

title not end 

meta close

close h1
 image close
 p close 
 a bracket

*/
